{% load i18n %}
{% load static %}
<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://google.com/" class="nav-link">
                <span>google.com</span>
            </a>
        </li>
        <li>
            <a href="/developer/" class="nav-link">
                <span>Developers</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="geosolutionsgroup.com" class="nav-link">
                <span>geosolutions</span>
            </a>
        </li>
    </ul>
</footer>